<!-- start page  -->
<div *ngIf="toggleStart">
  <h1 class="head">Welcome To Quiz Khelo PratiYogita</h1>
  <div class="instruction">
    <h2>Instructions</h2>
    <ul>
      <li>
        <h3>This is very tough exam.</h3>
      </li>
      <li>
        <h3>So write with open book and internet.</h3>
      </li>
      <li>
        <h3>Carefully select the option.</h3>
      </li>
      <li>
        <h3>Time limit of 15 second.</h3>
      </li>
      <li>
        <h3>Don't refresh the page.</h3>
      </li>
    </ul>

    <!-- dropdown code  -->

    <div class="dropdown">
      <label>Select Your Subject: </label>
      <select (change)="filterForSubject($event.target.value)">
        <option value="0">select</option>
        <option *ngFor="let name of subjects" value={{name.title}}>
          {{name.title}}
        </option>
      </select>
    </div>

    <button (click)="Start()" class="primary">Start</button>
  </div>
</div>

<!-- question page -->
<div class="heading" *ngIf="toggleBody">
  <div class="timer">
    <h5>Countdown : {{counter}}</h5>
  </div>
  <div *ngFor="let question of filterData; let i=index;">
    <p class="question">Q{{i+1 }}. {{ question.title}}</p>
    <div *ngFor="let option of question.options;let j=index;">
      <input type="radio" name="choices{{i}}" (click)="check($event,option)"> {{option.title}}
    </div>
  </div>
  <button (click)="Submit()" class="primary1">Save</button>
</div>

<!-- result page -->
<div class="result" *ngIf="toggleResult">
  <h2 class="green">Congratulation !!</h2>
  <h2>You successfuly completed the exam</h2>
  <div class="blue">
    <h4>Your Score</h4>{{count}}/3
  </div>
  <h3 class="blink" (click)="playAgain()">Click to play again</h3>
</div>

